[defaults]
nocows = true
interpreter_python = auto_silent
stdout_callback = community.general.unixy
inject_facts_as_vars = True
#stdout_callback = ansible.builtin.default
#callback_format_pretty = true
#callback_result_format = yaml
#callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer

[privilege_escalation]
become_ask_pass=True

[callback_profile_tasks]
summary_only = true
