# ~/.inputrc
$include /etc/inputrc

# Colors!
set colored-stats on
set colored-completion-prefix on

# Stop annoying bell
set bell-style none

# Proper tab support in bash
set completion-ignore-case on
TAB: menu-complete
"\e[Z": menu-complete-backward

# Tab complete add common letters
set show-all-if-ambiguous on
#set show-all-if-unmodified on

# Show list of possible completions
set menu-complete-display-prefix on

# Allow tab completion for symlinks
set mark-symlinked-directories on

# Make C-t display the list of possible completions
Control-t: complete

# Up/Down arrows to search history
#"\e[A": history-search-backward
#"\e[B": history-search-forward
